<configuration>
  <conversionRule
      conversionWord="lfLine"
      converterClass="io.lexiflow.observability.platform.ReadableLogLineConverter"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%lfLine%nopex%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
